In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
# my way of loading CSV file 
path = "data/original_data/orders.csv"
ju = pd.read_csv(path, index_col = False)
ju.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [13]:
load = r'data/original_data'

In [15]:
orders = pd.read_csv(os.path.join(load, 'orders.csv'), index_col = False)
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [ ]:
# CF way of doing samething
cf = pd.read_csv(r'/home/jurioste/github/careerfoundry/data/original_data/orders.csv', index_col = False)
cf.head()

In [ ]:
Path = r'/home/jurioste/github/careerfoundry'

In [ ]:
df = pd.read_csv(os.path.join(Path, 'data' , 'original_data' , 'orders.csv'), nrows=1000)
df.head()

In [ ]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
vars_list

In [ ]:
df = pd.read_csv(os.path.join(Path, 'data' , 'original_data' , 'orders.csv'), usecols = vars_list)
df.head()

In [ ]:
df.colums

In [ ]:
df.columns