In [1]:
import pandas as pd
import numpy as np
import os


orders = r'data/Prepared_data'

In [4]:
orders_products_combined = pd.read_pickle(os.path.join(orders, 'orders_products_combined.pkl'))

In [9]:
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [10]:
orders_products_combined.shape

(30356421, 10)

In [7]:
 products_checked = pd.read_csv(os.path.join(orders, 'products_checked.csv'),index_col = False)
products_checked = products_checked.drop(columns = ['Unnamed: 0'])

In [8]:
products_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
products_checked.shape

(49672, 5)