In [8]:
import pandas as pd
import numpy as np
import os


orders = r'data/Prepared_data'
# ords_prior = r'data/original_data'

In [10]:
df_ords = pd.read_csv(os.path.join(orders, 'orders_checked.csv'),index_col = False)

In [20]:
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [21]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [22]:
df_ords_prior = pd.read_csv(os.path.join(orders, 'order_products__prior.csv'),index_col = False)

In [23]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords.shape

(3214874, 7)

In [24]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [25]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [27]:
df_merged_large['_merge'].value_counts()

both          30356421
right_only           0
left_only            0
Name: _merge, dtype: int64

In [28]:
df_merged_large.to_csv(os.path.join(orders, 'orders_products_combined.csv'))

In [29]:
df_merged_large.to_pickle(os.path.join(orders, 'orders_products_combined.pkl'))