## 4.6 Merging and exporting data

### This script contains the following points:

#### 1. Create data to experiment on
#### 2. Concatenate dataframes
#### 3. Append data
#### 4. Merge data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = "data/customers.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(path)
purchase_data.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### 1. Create data to experiment on

In [ ]:
# Define a dictionary containing January 2020 data 

data1 = {'customer_id':['6732', '767', '890', '635'], 
        'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'], 
        'purchased_meat':[0, 13, 3, 4], 
        'purchased_alcohol':[1, 2, 10, 0],
        'purchased_snacks': [10, 5, 1, 7]}

In [ ]:
# Define a dictionary containing February 2020 data 

data2 = {'customer_id':['6732', '767', '890', '635'], 
        'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'], 
        'purchased_meat':[0, 10, 5, 3], 
        'purchased_alcohol':[2, 4, 14, 0],
        'purchased_snacks': [15, 3, 2, 6]}

In [ ]:
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0, 1, 2, 3])

In [ ]:
df

In [ ]:
df_1

#### 2. Concatenate dataframes

In [ ]:
# Create a list that contains our dataframes

frames = [df, df_1]

In [ ]:
# Check the output

frames

In [ ]:
# Check the data types to be sure it is a list

type(frames)

In [ ]:
# Concatenate the dataframes using default options

df_concat = pd.concat(frames)

In [ ]:
# Check the output

df_concat

In [ ]:
# Concatenate the dataframes using the axis = 1 --> create a wide format as an output

df_concat = pd.concat(frames, axis = 1)

In [ ]:
# Check the output

df_concat

#### 3. Append data

In [ ]:
df_appended = df.append(df_1)

In [ ]:
df_appended

In [ ]:
# Create data with different columns from df

data3 = {'customer_id':['6732', '767', '890', '635'], 
        'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'], 
        'days_purchased_on':[0, 13, 3, 4]}

In [ ]:
# Convert to dataframe

df_2 = pd.DataFrame(data3,index=[0, 1, 2, 3])

In [ ]:
df_2

In [ ]:
# Create a new dataset combining df and df_2

df_append_test = df.append(df_2)

In [ ]:
df_append_test

#### 4. Merge data

In [ ]:
# Merge df and df_2 using customer_id as a key 

df_merged = df.merge(df_2, on = ['customer_id'])

In [ ]:
df_merged

In [ ]:
# Merge df and df_2 using customer_id and month as a keys 

df_merged = df.merge(df_2, on = ['customer_id', 'month'])

In [ ]:
df_merged

In [ ]:
# Merge df and df_2 using customer_id and month as a keys, add a merge flag

df_merged = df.merge(df_2, on = ['customer_id', 'month'], indicator = True)

In [ ]:
df_merged

In [ ]:
df_merged['_merge'].value_counts()

In [ ]:
# Test merge without overwriting

pd.merge(df,df_2, on = ['customer_id', 'month'], indicator = True)